# gandalf
Host gandalf
  HostName vpn.devnur.me
  Preferredauthentications publickey
  User root
  IdentityFile ~/.ssh/gandalf

# GitHub `nurseiit` account
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_rsa

# Gitlab uni20172001 for OS
Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/os_rsa

